@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #202020;
  color: white;
}
#banner{
  background-image:linear-gradient(
    rgba(0,0,0,0.5), 
    rgba(0,0,0,0.5)
  ), url(imgs/black_magic_candles_2.jpg) !important;
}